.component {
    height: 162px;
    width: 288px;
  }
  
  .component.sixteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-243@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-240@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.three {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-217-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.thirty-two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-214-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-216-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-eight {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-234-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.image-213 {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-213-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.four {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-218-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.eighteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-225-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-five {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-230-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.image-210 {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-210-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.nineteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-227-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.eight {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-208-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.fifteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-241@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.seven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-221-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.seventeen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-223-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.image-212 {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-212-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-229-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.thirty-one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-233-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.five {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-219-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.thirteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-237@2x.png);
    background-size: 100% 100%;
  }
  
  .component.eleven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-228-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.six {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-220-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.image-209 {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-209-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-238@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-three {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-242@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.fourteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-239@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-seven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-232-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-215-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.image-211 {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-211-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-four {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-244@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.nine {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-224-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-six {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-231-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twenty-nine {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-235-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.twelve {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-222-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.thirty {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-236-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  
  .component.ten {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-226-1@2x.png);
    background-position: 50% 50%;
    background-size: cover;
  }
  