.number-wrapper {
    background-position: 50% 50%;
    background-size: cover;
    height: 300px;
    width: 200px;
  }
  
  .number-wrapper.number-thirty-two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-205@2x.png);
  }
  
  .number-wrapper.number-twenty-four {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-229@2x.png);
  }
  
  .number-wrapper.number-fourteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-219@2x.png);
  }
  
  .number-wrapper.number-thirteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-218@2x.png);
  }
  
  .number-wrapper.number-six {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-211@2x.png);
  }
  
  .number-wrapper.number-twenty-six {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-231@2x.png);
  }
  
  .number-wrapper.number-twenty-five {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-230@2x.png);
  }
  
  .number-wrapper.number-one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-206@2x.png);
  }
  
  .number-wrapper.number-twenty-seven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-232@2x.png);
  }
  
  .number-wrapper.number-twenty-eight {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-233@2x.png);
  }
  
  .number-wrapper.number-seven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-212@2x.png);
  }
  
  .number-wrapper.number-fifteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-220@2x.png);
  }
  
  .number-wrapper.number-sixteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-221@2x.png);
  }
  
  .number-wrapper.number-five {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-210@2x.png);
  }
  
  .number-wrapper.number-two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-207@2x.png);
  }
  
  .number-wrapper.number-twenty-two {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-227@2x.png);
  }
  
  .number-wrapper.number-twelve {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-217@2x.png);
  }
  
  .number-wrapper.number-thirty {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-235@2x.png);
  }
  
  .number-wrapper.number-nine {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-214@2x.png);
  }
  
  .number-wrapper.number-three {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-208@2x.png);
  }
  
  .number-wrapper.number-eleven {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-216@2x.png);
  }
  
  .number-wrapper.number-thirty-one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-236@2x.png);
  }
  
  .number-wrapper.number-twenty-one {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-226@2x.png);
  }
  
  .number-wrapper.number-nineteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-224@2x.png);
  }
  
  .number-wrapper.number-seventeen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-222@2x.png);
  }
  
  .number-wrapper.number-ten {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-215@2x.png);
  }
  
  .number-wrapper.number-eighteen {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-223@2x.png);
  }
  
  .number-wrapper.number-twenty-three {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-228@2x.png);
  }
  
  .number-wrapper.number-twenty-nine {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-234@2x.png);
  }
  
  .number-wrapper.number-eight {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-213@2x.png);
  }
  
  .number-wrapper.number-twenty {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-225@2x.png);
  }
  
  .number-wrapper.number-four {
    background-image: url(https://c.animaapp.com/4gYTn61Z/img/image-209@2x.png);
  }
  